name: example

on:
  push:
    branches: [main]

jobs:
  message:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set current datetime to env
        env:
          TZ: 'Asia/Tokyo'
        run: |
          echo "CURRENT_DATETIME=$(date +'%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV
      - name: set arguments
        id: arguments
        run: |
          echo '::set-output name=message::"[info][title](beer)what time is it now?[/title]it is ${{ env.CURRENT_DATETIME }} now.[/info]"'
      - uses: okuzawats/chatwork-messaging-action@v1.1
        with:
          apiToken: ${{ secrets.API_KEY }}
          roomId: ${{ secrets.ROOM_ID }}
          message: ${{ steps.arguments.outputs.message }}
